<h1>Das Fenster</h1>
<form action="{% url 'apply' %}"  method="post">
{% csrf_token %}
    <label style="display: block">Ценовые категории</label>
    <label>От</label>
    <input type="number" name="lower_price" value="1"/>
    <label>До</label>
    <input type="number" name="upper_price" value="150"/>
    <input type="submit" value="Применить"/>
</form>
<form action="{% url 'buy' %}" method="post">
{% csrf_token %}
{% for afenster in fenster_list %}
    <table border="6" width="300px">
       <tr width="{{fenster.fenster_width}}" height="{{afenster.fenster_height}}px">
           <td colspan="2">
               <input
                   type="radio"
                   name="selected_fenster"
                   id="fenster{{afenster.id}}"
                   value="{{afenster.id}}"
                   checked="checked"
               />
               <label for="fenster{{afenster.id}}">
                   fenster №{{afenster.id}}
               </label>
	       <label>
	           Price {{afenster.fenster_price}}
	       </label>
               {{afenster.fenster_width}}
               {{afenster.fenster_height}}
           </td>
       </tr>
    </table>
{% endfor %}
<input type="submit" value="Buy"/>
<label>Total Income: {{sum}}</label>
</form>
